@media (prefers-color-scheme:light) {
  :root {
    --background:;
    --background-highlight: #e6e6e6;
    --green: #1ae753;
    --blue: #61dafb;
  }
}

@media (prefers-color-scheme:dark) {
  :root {
    --background:;
    --background-highlight: #989898;
    --green: #0aa334;
    --blue: #32a7c8;
  }
}

